<IfModule mod_rewrite.c>
    RewriteEngine On

    SetEnvIfNoCase Remote_Addr "^127\.0\.0\.1" CI_ENV=development
    SetEnvIfNoCase Host "(www\.)?(pekochu\.com|[A-Za-z]+\.pekochu\.com|angelbrv\.com|[A-Za-z]+\.angelbrv\.com)(:\d+)?$" CI_ENV=production

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond ${REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]

    # Prevent user access to the CI System folder.
    RewriteCond %{REQUEST_URI} ^system.*
    RewriteRule ^(.*) index.php?/$1 [L]

    # Prevent user access to the CI application folder
    RewriteCond %{REQUEST_URI} ^application.*
    RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>